<%- include('extra/_header') %>
<main id="site-main">
  <div class="container">
    <div class="box-nav d-flex justify-between">
      <div class="filter">
        <a href="all-issues" class="fas fa-angle-double-left">All Issues</a>
      </div>
    </div>
    <div class="form-title text-center">
      <h2>New Issue</h2>
      <span>Use below form to add new Issue</span>
    </div>
    <!-- form handling -->
    <%- include('extra/issue_form') %>
  </div>
</main>
<%- include('extra/_footer') %>
