<form method="POST" id="add-user">
    <div class="new-issue">
      <div class="form-group">
        <label for="name">Project-Name</label>
        <input
          type="text"
          name="project-name"
          value=""
          placeholder="add name"
        />
      </div>
      <div class="form-group">
        <label for="Description">Description</label>
        <input
          type="text"
          name="Description"
          value=""
          placeholder="add author"
        />
      </div>
      <div class="form-group">
        <label for="issue">Author</label>
        <input
          type="text"
          name="author"
          value=""
          placeholder="add author"
        />
      </div>
     
      </div>
      <div class="form-group">
          <button class="btn" type="submit">Save</button>
        </div>
    </div>
  </form>