<form action="/" method="POST">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>ISSUE</th>

        <th>Author</th>
        <th>Description</th>
        <th>Label</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>error</td>

        <td>sk</td>
        <td>error occuring in main component</td>
        <td>error</td>
        <td>Active</td>
        <td>
          <a href="update-issue" class="btn border-shadow update">
            <span class="text-gradient"><i class="fas fa-pencil alt"></i></span>
          </a>
          <a href="#" class="btn border-shadow update">
            <span class="text-gradient"><i class="fas fa-times"></i></span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</form>
